// Self-clear floats 
	.group:after{
		display:block;
		visibility:hidden;
		clear:both;
		height:0px;
		content:".";
	}
	*:first-child+html .group{/* IE7 */
		min-height:1px;
	}


// sprite
	.sprite {
		display: block;
		background: url(../images/sprite.png) no-repeat;
		text-indent: -9999px;
	}

// color
	@green: #29B572;
	@grey: #58595b;
	@black: #221e1f;


// Misc
	.offscreen {
		position: absolute;
		left: -1000em;
	}

	.container {
		.center-block();
		min-width: 960px;
		width: 100%;
	}

	.title {
		font-size: 21px;
	}

	.button {
		border: 0;
		background-position: -655px 0;

		&:hover, &:active {
			.opacity(.7);
			.transition(opacity .4s);
		}
	}