// Self-clear floats 
	.group:after{
		display:block;
		visibility:hidden;
		clear:both;
		height:0px;
		content:".";
	}
	*:first-child+html .group{/* IE7 */
		min-height:1px;
	}


// PIE
	.pie() {
		behavior: url(styles/PIE.htc);
	}


// sprite
	.sprite {
		display: block;
		text-indent: -9999px;
		background: url(../images/sprite.png) no-repeat;
	}

// color
	@green: #29B572;
	@grey: #58595b;


// Misc
	.offscreen {
		position: absolute;
		left: -1000em;
	}

	.container {
		.center-block();
		width: 100%;
		min-width: 960px;
	}

	.title {
		font-size: 21px;
	}